body {
  background-color: #ededee;
  color: #222;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 40px;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 500px) {
    body {
      font-size: 16px; } }

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  max-width: var(--max-content-width);
  padding: 0 0 40px;
  width: 80%; }

.headings {
  font-size: 4rem; }

.about {
  margin: 100px 0; }

.about-text {
  background-color: #dff2f7;
  border: 0.5px solid #564947;
  font-size: 2rem;
  padding: 40px; }
