@import '../../variables';

.about-text {
  //background-color: $theme;
  // border: .5px solid $gray;
  font-size: 1.3rem;
  padding: 10px;
}

.resume-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
