@import '../../variables';

.memories {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;

  @media only screen and (max-width: 500px) {
    //flex-flow: row wrap;
  }

  .memories-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;

    .image-container {
      box-sizing: border-box;
      //height: 350px;
      min-width: 0;
      padding: 4px;
      width: 17%;

      @media only screen and (max-width: 500px) {
        width: 50%;
      }
    }

    .memories-images {
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      box-sizing: border-box;
      height: 342px;
      width: 100%;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}



