.contact {
  display: flex;
  flex-flow: column wrap;
  width: 100%; }
  .contact .information {
    padding: 0 40px 40px; }
  .contact .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%; }
    @media only screen and (max-width: 500px) {
      .contact .row {
        justify-content: space-between; } }

.mapStyle {
  align-items: center;
  margin-top: 50px; }
