.contact {
  display: flex;
  flex-flow: column wrap;
  width: 100%; }
  .contact .information {
    padding: 0 40px 40px; }
  .contact .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%; }
