@import '../../variables';

.home   {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;

  @media only screen and (max-width: 500px) {
    flex-flow: row wrap;
  }

  .welcome-note {
    .welcome-text {
      box-sizing: border-box;

      a {
        display: contents;
      }

      @media only screen and (max-width: 500px) {
        padding: 0;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 3%;
    width: 100%;

    @media only screen and (max-width: 500px) {
      margin-top: 15%;
    }

    .picture {
      width: 35%;

      @media only screen and (max-width: 500px) {
        display: none;
      }
    }

    .textarea {
      background-color: $theme;
      border: .5px solid $gray-3;
      width: 85%;

      @media only screen and (max-width: 500px) {
        width: 100%;
      }

      p {
        font-size: 1.3rem;
        letter-spacing: 0;
        line-height: 2rem;
        margin: 0 0 16px;
        padding: 10px;
        word-break: break-word;

        &:first-child {
          color: $gray;
        }
      }
    }

    .demo-card-wide {
      height: 100%;
      width: 100%;

      .mdl-card__title {
        background: url('../../images/placeholders/placeholder3.jpg') center / cover;
      }
    }
  }

  .notes-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;

    .flipcard {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 20px;
      position: relative;
      text-align: center;
      width: 25%;

      @media only screen and (max-width: 500px) {
        padding: 3px;
        width: 100%;

        &:nth-child(3) {
          display: none;
        }
      }

      .demo-card-square {
        background-color: #dff2f7;
      }

      .mdl-shadow--2dp {
        box-shadow: none;
      }

      .myinfo {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        border: 1px solid $white;
        color: $white;
        cursor: pointer;
        font-size: 16px;
        padding: 20px 40px;
      }

      .home-address {
        bottom: 50px;
        color: inherit;
        left: 0;
        position: absolute;
        right: 0;
        text-decoration: none;
      }
    }

    .demo-card-square {
      //width: 100%;

      .card-title {
        @media only screen and (max-width: 500px) {
          padding: 0;
        }
      }

      .quote {
        box-sizing: border-box;
        font-size: 1rem;
        padding: 10px;
        text-align: justify;
        width: 100%;

        @media only screen and (max-width: 991.98px) {
          display: none;
        }
    }

      %extend-1 {
        backface-visibility: hidden;
        left: 0;
        position: absolute;
        top: 0;
      }


      .home-img {
        border-radius: 200px;
        cursor: pointer;
        height: 248px;
        margin: 0 auto;
        opacity: .5;
        width: 248px;

        @media only screen and (max-width: 500px) {
          //width: 80%;
        }
      }
    }
  }
}
