body {
  background-color: #ededee;
  color: #222;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 40px;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 500px) {
    body {
      font-size: 16px; } }

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  max-width: var(--max-content-width);
  padding: 0 0 40px;
  width: 80%; }

.headings {
  font-size: 4rem; }

.home {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; }
  @media only screen and (max-width: 500px) {
    .home {
      flex-flow: row wrap; } }
  .home .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 3%; }
    @media only screen and (max-width: 500px) {
      .home .wrapper {
        flex-flow: row wrap; } }
    .home .wrapper .picture {
      width: 35%; }
      @media only screen and (max-width: 500px) {
        .home .wrapper .picture {
          width: 100%; } }
    .home .wrapper .textarea {
      background-color: #dff2f7;
      border: 1px solid #564947;
      width: 65%; }
      @media only screen and (max-width: 500px) {
        .home .wrapper .textarea {
          width: 440px; } }
      .home .wrapper .textarea p {
        font-size: 2rem;
        letter-spacing: 0;
        line-height: 2rem;
        margin: 0 0 16px;
        padding: 20px; }
        .home .wrapper .textarea p:first-child {
          color: #564947; }
  .home .demo-card-wide {
    height: 100%;
    width: 100%; }
    @media only screen and (max-width: 500px) {
      .home .demo-card-wide {
        height: 515px;
        width: 465px; } }
    .home .demo-card-wide .mdl-card__title {
      background: url("../../images/placeholders/placeholder3.jpg") center/cover; }
  .home .notes-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 20px 0; }
    .home .notes-cards .flipcard {
      flex-basis: auto;
      flex-shrink: 1; }
      @media only screen and (max-width: 500px) {
        .home .notes-cards .flipcard {
          display: inline; }
          .home .notes-cards .flipcard:nth-child(3) {
            display: none; } }
    @media only screen and (max-width: 500px) {
      .home .notes-cards {
        margin: 0; } }
  .home .home-img {
    height: 250px;
    width: 250px; }
  .home .demo-card-square {
    display: inline-flex; }
    .home .demo-card-square .quote {
      font-size: 1.3rem; }
  .home .front, .home .back {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0; }
  .home .flip-container {
    height: 260px;
    perspective: 1000px; }
    .home .flip-container:hover .flipper {
      transform: rotateY(180deg); }
    .home .flip-container.hover .flipper {
      transform: rotateY(180deg); }
  .home .front {
    height: 250px;
    transform: rotateY(0deg);
    width: 330px;
    z-index: 2; }
  .home .back {
    height: 250px;
    transform: rotateY(180deg);
    width: 330px; }
  .home .flipper {
    position: relative;
    transform-style: preserve-3d;
    transition: .6s; }
