@import '../../variables';

.demo-card-wide {
  height: 350px;
  width: 512px;

  @media only screen and (max-width: 500px) {
    height: 515px;
    width: 465px;
}

  .mdl-card__title {
    background: url('/assets/images/placeholder3.jpg') center / cover;
  }
}

.notes-cards {
  margin: 0 250px;

  .flipcard {
    @media only screen and (max-width: 500px) {

      display: inline;

      &:nth-child(3) {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    margin: 0;
  }
}

.textarea {
  background-color: $theme;
  border: 1px solid $gray;

  @media only screen and (max-width: 500px) {
    width: 440px;
}

  p {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 50px;
    margin: 0 0 16px;
    padding: 20px;

    &:first-child {
      color: $gray;
    }
  }
}

.home-img {
  height: 250px;
  width: 250px;
}

.demo-card-square {
  display: inline-flex;

  .supporting-text {
    font-size: 18px;
  }
}

%extend-1 {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
}

.flip-container {
  height: 260px;
  perspective: 1000px;

  &:hover .flipper {
    transform: rotateY(180deg);
  }

  &.hover .flipper {
   transform: rotateY(180deg);
	}
}

.front {
  @extend %extend-1;
  height: 250px;
  transform: rotateY(0deg);
  width: 330px;
  z-index: 2;
}

.back {
  @extend %extend-1;
  height: 250px;
  transform: rotateY(180deg);
  width: 330px;
}

.flipper {
  position: relative;
  transform-style: preserve-3d;
  transition: .6s;
}
