@import '../../variables';

.home   {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;

  @media only screen and (max-width: 500px) {
    flex-flow: row wrap;
  }

  .welcome-note {
    .welcome-text {
      box-sizing: border-box;

      a {
        display: contents;
      }

      @media only screen and (max-width: 500px) {
        padding: 0;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 3%;
    width: 100%;

    @media only screen and (max-width: 500px) {
      margin-top: 15%;
    }

    .picture {
      width: 35%;

      @media only screen and (max-width: 500px) {
        display: none;
      }
    }

    .textarea {
      background-color: $theme;
      border: .5px solid $gray-3;
      width: 85%;

      @media only screen and (max-width: 500px) {
        width: 100%;
      }

      p {
        font-size: 1.3rem;
        letter-spacing: 0;
        line-height: 2rem;
        margin: 0 0 16px;
        padding: 10px;
        word-break: break-word;

        &:first-child {
          color: $gray;
        }
      }
    }

    .demo-card-wide {
      height: 100%;
      width: 100%;

      .mdl-card__title {
        background: url('../../images/placeholders/placeholder3.jpg') center / cover;
      }
    }
  }

  .notes-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;

    .flipcard {
      box-sizing: border-box;
      width: 21%;

      @media only screen and (max-width: 500px) {
        padding: 3px;
        width: 50%;

        &:nth-child(3) {
          display: none;
        }
      }
    }

    .demo-card-square {
      width: 100%;

      .card-title {
        @media only screen and (max-width: 500px) {
          padding: 0;
        }
      }

      .quote {
        box-sizing: border-box;
        font-size: 1rem;
        padding: 10px;
        text-align: justify;
        width: 100%;

        @media only screen and (max-width: 991.98px) {
          display: none;
        }
    }

      %extend-1 {
        backface-visibility: hidden;
        left: 0;
        position: absolute;
        top: 0;
      }

      .flip-container {
        height: 200px;
        perspective: 1000px;

        @media only screen and (max-width: 500px) {
        }

        &:hover .flipper {
          transform: rotateY(180deg);
        }

        &.hover .flipper {
          transform: rotateY(180deg);
      }
    }

      .flipper {
        position: relative;
        transform-style: preserve-3d;
        transition: .6s;

        .home-img {
          height: 100%;
          width: 100%;

          @media only screen and (max-width: 500px) {
            width: 80%;
          }
        }
      }

      .front {
        @extend %extend-1;
        box-sizing: border-box;
        height: 200px;
        padding: 8px;
        transform: rotateY(0deg);
        width: 100%;
        z-index: 2;
      }

      .back {
        @extend %extend-1;
        box-sizing: border-box;
        height: 200px;
        padding: 8px;
        transform: rotateY(180deg);
        width: 100%;
      }
    }
  }
}
