@import '../variables';

.app {
  background-attachment: fixed;
  background-image: url('../images/image1.gif');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
  position: absolute;
  text-align: center;

  .back-top {
    bottom: 50px;
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 100px;
    width: 40px;
    z-index: 10;

    .back-top-content {
      background-color: $darkergray;
      border-radius: 20px;
      color: $white;
      height: 40px;
      text-align: center;
      width: 40px;

      &:hover {
        background-color: $gray;
      }

      .mdl-tooltip {
        color: $white;
        font-size: 15px;
        line-height: 20px;
      }

      .arrow-upward {
        display: inline-block;
        font-style: normal;
        line-height: 1;
        margin-top: 8px;
        text-align: center;
        text-rendering: optimizeLegibility;
        text-transform: none;
        vertical-align: baseline;
      }
    }
  }
}

.app-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  height: 100%;
  width: 100%;
}

.app-header {
  background-color: $pink;
  color: $white;
  display: none;
  height: 400px;

  .splash {
    height: 100%;
    width: 100%;

    .background-text {
      bottom: 220px;
      color: $off-white;
      display: inline;
      font-size: 3em;
      position: relative;
      z-index: 3;
    }
  }
}

.app-title {
  font-size: 2.5em;
}

.app-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
