@import '../variables';

.app {
  background-attachment: fixed;
  background-image: url('/assets/images/image1.gif');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
  position: absolute;
  text-align: center;
}

.app-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  height: 100%;
  width: 100%;
}

.app-header {
  background-color: $pink;
  color: $white;
  display: none;
  height: 400px;

  .splash {
    height: 100%;
    width: 100%;

    .background-text {
      bottom: 220px;
      color: $off-white;
      display: inline;
      font-size: 3em;
      position: relative;
      z-index: 3;
    }
  }
}

.app-title {
  font-size: 2.5em;
}

.app-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
