.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  max-width: var(--max-content-width);
  padding: 70px 0 40px;
  width: 80%; }

.headings {
  color: #564947;
  font-size: 3rem;
  padding: 10px;
  width: 100%; }

.pagination {
  border-radius: 4px;
  display: inline-block;
  margin: 45px 0;
  padding-left: 0; }
  .pagination > li {
    display: inline;
    font-size: 1.3rem; }
    @media only screen and (max-width: 500px) {
      .pagination > li {
        font-size: 1rem; } }
    .pagination > li > a {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 22px;
      color: #222;
      cursor: pointer;
      float: left;
      line-height: 1.42857143;
      margin-left: -1px;
      padding: 0 10px;
      position: relative;
      text-decoration: none; }
      @media only screen and (max-width: 500px) {
        .pagination > li > a {
          padding: 0 5px; } }
      .pagination > li > a:hover {
        background-color: #eee;
        border-color: #ddd;
        color: #222;
        z-index: 3; }
    .pagination > li:first-child > a {
      margin-left: 0; }
    .pagination > li:first-child > span {
      margin-left: 0; }
  .pagination > .active > a {
    background-color: #c68888;
    border-color: #ddd;
    color: #fff;
    cursor: pointer;
    z-index: 2; }
    .pagination > .active > a:focus {
      background-color: #c68888;
      color: transparent;
      cursor: pointer;
      opacity: .5;
      z-index: 2; }
    .pagination > .active > a:hover {
      background-color: #c68888;
      border-color: #ddd;
      color: #fff;
      cursor: pointer;
      z-index: 2; }
