body {
  background-color: #ededee;
  color: #8a8686;
  font-family: Brush Script MT;
  font-size: 45px;
  font-style: italic;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 140px 10px;
  max-width: var(--max-content-width);
  padding: 0 0 40px; }

.pagination {
  border-radius: 4px;
  display: inline-block;
  margin: 45px 0;
  padding-left: 0; }
  .pagination > li {
    display: inline;
    font-size: 20px; }
    .pagination > li > a {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 22px;
      color: #222;
      cursor: pointer;
      float: left;
      line-height: 1.42857143;
      margin-left: -1px;
      padding: 6px 12px;
      position: relative;
      text-decoration: none; }
      .pagination > li > a:hover {
        background-color: #eee;
        border-color: #ddd;
        color: #222;
        z-index: 3; }
    .pagination > li:first-child > a {
      margin-left: 0; }
    .pagination > li:first-child > span {
      margin-left: 0; }
  .pagination > .active > a {
    background-color: #c68888;
    border-color: #ddd;
    color: #fff;
    cursor: pointer;
    z-index: 2; }
    .pagination > .active > a:focus {
      background-color: #c68888;
      color: transparent;
      cursor: pointer;
      opacity: .5;
      z-index: 2; }
    .pagination > .active > a:hover {
      background-color: #c68888;
      border-color: #ddd;
      color: #fff;
      cursor: pointer;
      z-index: 2; }
