.navbar {
  background-color: #2c3531;
  box-shadow: 0 10px 5px #888;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  @media only screen and (max-width: 500px) {
    .navbar ul {
      box-sizing: border-box;
      padding: 10px;
      text-align: start; } }
  .navbar a {
    color: #fff;
    font-size: 1.7rem;
    margin: 0 15px 0 0;
    padding: 30px;
    text-decoration: none; }
    @media only screen and (max-width: 500px) {
      .navbar a {
        font-size: 1.5rem;
        padding: 10px; } }
  .navbar .selected {
    color: #fff; }
    .navbar .selected:visited, .navbar .selected:focus, .navbar .selected:hover, .navbar .selected:active {
      text-decoration: underline; }
