@import '../../variables';

nav {
  a {
    color: $black;
    margin: 0 100px;
    padding: 50px;
    text-decoration: none;
  }
}

.navbar {
  background-color: $header-gray;
  box-shadow: 10px 10px 5px #888888;
  height: 150px;
  margin: -35px -35px 30px;
}

.navbar-header {
  padding: 50px;
}

.selected {
  color: $light-pink;

  &:hover {
    color: $pink;
  }
}
