body {
  background-color: #ededee;
  color: #8a8686;
  font-family: Brush Script MT;
  font-size: 45px;
  font-style: italic;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 140px 10px;
  max-width: var(--max-content-width);
  padding: 0 0 40px; }

nav a {
  color: #222;
  margin: 0 100px;
  padding: 50px;
  text-decoration: none; }

.navbar {
  background-color: #dbecf1;
  box-shadow: 10px 10px 5px #888;
  display: grid;
  height: 150px;
  margin: -35px -35px 30px; }

.navbar-header {
  padding: 50px; }

.selected {
  color: #c68888; }
  .selected:hover {
    color: #ec8396; }
