@import '../../variables';

.header {
 // align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;

  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }

  @media only screen and (max-width: 500px) {
    .navigation {
      flex-direction: column;
    }
  }

  .navbar {
    background-color: $header-gray;
    box-shadow: 0 10px 5px $boxshadow;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    a {
      color: $black;
      margin: 0 100px;
      padding: 50px;
      text-decoration: none;

      @media only screen and (max-width: 500px) {
      // display: table-row;
      }
    }

    @media all and (max-width: 800px) {
      .navigation {
        justify-content: space-around;
      }
    }

    @media all and (max-width: 500px) {
      .navigation {
        flex-direction: column;
      }
    }

    .selected {
      color: $black;

      &:visited,
      &:focus,
      &:hover {
        color: $gray;
      }
    }
  }
}
