@import '../../variables';

.navbar {
  background-color: $header-gray;
  box-shadow: 0 10px 5px $boxshadow;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  ul {
    @media only screen and (max-width: 500px) {
      text-align: start;
    }
  }

  a {
    color: $black;
    font-size: 1.7rem;
    margin: 0 15px 0 0;
    padding: 30px;
    text-decoration: none;

    @media only screen and (max-width: 500px) {
      font-size: 1.5rem;
      padding: 10px;
    }
  }

  .selected {
    color: $black;

    &:visited,
    &:focus,
    &:hover {
      color: $gray;
    }
  }
}

