@import '../../variables';

.footer {
  background-color: $footercolor;
  bottom: 0;
  box-shadow: 0 10px 5px $boxshadow;
  color: $white;
  display: flex;
  height: 150px;
  justify-content: center;
  opacity: .9;
  padding: 15px;
  position: absolute;
  width: 100%;
}

.button {
  background-color: $gold;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

