@import '../../variables';

.footer {
  background-color: $black-3;
  bottom: 0;
  box-shadow: 0 10px 5px $boxshadow;
  color: $white;
  display: flex;
  height: 150px;
  justify-content: center;
  opacity: .9;
  padding: 15px;
  position: absolute;
  width: 100%;

  .footerwrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
}

.button {
  background-color: $theme;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

