@import '../../variables';

.footer {
  background-color: $footercolor;
  bottom: 0;
  box-shadow: 0 10px 5px $boxshadow;
  display: flex;
  flex-flow: row wrap;
  height: 150px;
  justify-content: center;
  opacity: .9;
  position: absolute;
  width: 100%;
}
