.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  max-width: var(--max-content-width);
  padding: 70px 0 40px;
  width: 80%; }

.headings {
  color: #564947;
  font-size: 3rem;
  padding: 10px;
  width: 100%; }

.footer {
  background-color: #fff;
  box-shadow: 0 10px 5px #888;
  display: flex;
  flex-flow: row wrap;
  height: 150px;
  justify-content: center;
  opacity: .9;
  width: 100%; }
