.footer {
  background-color: #2c3531;
  bottom: 0;
  box-shadow: 0 10px 5px #888;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  height: 150px;
  justify-content: center;
  opacity: .9;
  position: absolute;
  width: 100%; }
