//white shades
$white: #fff;
$off-white: #e3e3e3;

//dark shades
$black: #222;
$gray: #bcb5b5;
$header-gray: #b3acac26;

//pink shades
$pink: #ec8396;
$hotpink: #ff69b4;
$light-pink: #c68888;

//yellow shades
$gold: #dab659;

//Background-color

$bodybackground: #ededee;

body {
  background-color: $bodybackground;
  color: $gray;
  font-family: Brush Script MT;
  font-size: 45px;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.container {
  //border-bottom: .5px solid $gray;
  margin: 0 140px 10px;
  max-width: var(--max-content-width);
  padding: 0 0 40px;
}
