.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  max-width: var(--max-content-width);
  padding: 70px 0 40px;
  width: 80%; }

.headings {
  color: #564947;
  font-size: 3rem;
  padding: 10px;
  width: 100%; }

body {
  align-items: center;
  background-attachment: fixed;
  background-color: #ededee;
  background-image: url("./images/image1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: #222;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 40px;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 500px) {
    body {
      font-size: 16px; } }
